<template>
    <div id="app">
        <h2>Add item</h2>
        <form v-on:submit.prevent>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required v-model="name" v-bind:class="{'is-invalid': (nameError != '')}">
                <div class="invalid-feedback" v-model="nameError">{{ nameError }}</div>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" min="0" class="form-control" id="amount" required v-model="amount" v-bind:class="{'is-invalid': (amountError != '')}">
                <div class="invalid-feedback" v-model="amountError">{{ amountError }}</div>
            </div>
            <button type="submit" class="btn btn-primary" v-on:click="addItem">Submit</button>
            <button type="button" class="btn btn-link" v-on:click="goBack">Back</button>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                amount: '',
                nameError: '',
                amountError: ''
            };
        },
        methods: {
            addItem: function() {
                axios.post('/api/items', {
                    name: this.name,
                    amount: this.amount
                })
                .then(response => {
                    this.$router.push({name: 'root'});
                }).catch(error => {
                    if (error.response.data.errors.hasOwnProperty('name')) {
                        this.nameError = error.response.data.errors.name[0];
                    }
                    if (error.response.data.errors.hasOwnProperty('amount')) {
                        this.amountError = error.response.data.errors.amount[0];
                    }
                });
            },
            goBack: function() {
                this.$router.go(-1);
            }
        }
    }
</script>
